*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner{
    width: 100%;
    height: 100vh;
    background-image: url(ACT.jpg);
    background: size 50px;;
    background-repeat: no-repeat;
    background-position: center;
}
.banner2{
    width: 100%;
    height: 100vh;
    background-image: url(blue\ wave.png);
    background: size 100px;;
    background-repeat: no-repeat;
    background-position:top;
}
.banner3{
    width: 100%;
    height: 100vh;
    background-image: url(blue\ wave2.png);
    background: size 100px;;
    background-repeat: no-repeat;
    background-position:top;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 35px 0;    
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background: darkblue;
    border: radius 20px; 
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;   
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar ul li ::after{
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.navbar ul li :hover::after{
    width: 100%;
}
.Home{
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    color: #fff;
       
}
.Home h1{
    font-size: 40px;   
}
.Home h2{
    color: rgb(255, 255, 0);
}
.Home u{
    color: darkblue;

}
.evemp4{
    width: 100%;
    height: 100%;
    align-items: center;
}
.Timeline{
    width: 80%;
    margin: 80px auto;
    text-align: center;
    font-size: 4vmin;
    
}
.Timeline h1{
    position: relative;   
    color: #49497e;
   
}
.line{
    width: 150px;
    height: 4px;
    background: red;
    margin: 10px auto;
    border-radius: 5px;
}
h4{
    text-align: justify;
    padding-top: 20px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}
.row1 .col1 img{
    padding-top: 10%;
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;

}
.row1 .col1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.row1{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.col{
    flex-basis: 50%;
}

.events h4{
    text-align: center;
    font-size: 3vmin;
    margin: 20px auto;
}
.events h5{
    text-align: center;
    padding: 0px,40px;

}
.events h2{
    padding-top: 100px;
    font-size: 100px;
}
.events p{
    padding-top: 20px;
    font-size: 40px;
    line-height: 15px;
    
}
.events b{
    color: #009688;
}

.pictures{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;  
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.pic1{
    background-image: url(a2.jpg);
}
.pic2{
    background-image: url(a3.jpg);
}
.pic3{
    background-image: url(a4.jpg);
}
.pic4{
    background-image: url(a5.jpg);
}
.pic5{
    background-image: url(10.jpg);
}
.pic6{
    background-image: url(9.jpg);
}
.pic7{
    background-image: url(8.jpg);
}
.pic8{
    background-image: url(7.jpg);
}
.pic9{
    background-image: url(10.jpg);
}
.pic10{
    background-image: url(9.jpg);
}
.pic11{
    background-image: url(8.jpg);
}
.pic12{
    background-image: url(7.jpg);
}
.pictures:hover{
    transform: translateY(-10px);
}
.pc{
    padding-top: 70px;
}
button{
    width: 500px;
    color: #fff;
    font-size: 12px;
    padding: 12px 0;
    background: rgb(163, 15, 15);
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
    
}
.scrollable {
    width: 100%;
    height: 500px; 
    overflow-x: auto; 
    white-space: nowrap;
    border: 1px solid #ccc; 
}
.scrollable img {
    width: 700px;
    height: auto; 
    margin-right: 10px;
}

.footer{
    width: 100%;
    height: 200px;
    padding: 20px 80px;
    margin: 0;
    background: #49497e;
    text-align: center;
}

input{
    display: none;

}
.container{
    width: 100%;
    text-align: center;
}
.container h1{
    font-weight: normal;
    font-size: 35px;
    position: relative;
    margin: 40px 0;
}
.container h1 ::before{
    content: '';
    position: absolute;
    width: 100px;
    height: 3px;
    background-color: crimson;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);   
}
.top{
    background-color: lightgray;
    width: 90%;
    margin: 0 auto 20px auto;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 3px 3px 5px gray;
}
h3{
    height: 100%;
    background-color: gray;
    line-height: 60px;
    padding: 0 50px;
    color: white;
}
label{
    display: inline-block;
    height: 100%;
    margin:  0 20px;
    line-height: 60px;
    font-size: 18px;
    color:  gray;
    cursor: pointer;
    transition: color .5s;
}
label:hover{
    color: black
}

.photo{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    object-fit: cover;

}
.pic{
    position: relative;
    height: 230px;    
    border-radius: 10px;
    box-shadow: 3px 3px 5px lightgrey;
    cursor: pointer;
    display: inline-block;
    background-position: center;
    background-size: cover;
    transition: 0.5s;
}
.pic:hover{
    transform: translateY(-10px);
}
.pic img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#check1:checked ~ .container .photo .pic{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}
#check2:checked ~ .container .photo .awardings{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}
#check2:checked ~ .container .photo .bingo,
#check2:checked ~ .container .photo .laparoza{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}
#check3:checked ~ .container .photo .bingo{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}
#check3:checked ~ .container .photo .awardings,
#check3:checked ~ .container .photo .laparoza{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}
#check4:checked ~ .container .photo .laparoza{
    opacity: 1;
    transform: scale(1);
    position: relative;
    transition: 0.5s;
}
#check4:checked ~ .container .photo .bingo,
#check4:checked ~ .container .photo .awardings{
    opacity: 0;
    transform: scale(0);
    position: absolute;
}


